/*Here the plug in basic style, feel free to custom it as you need*/

.selector {
    position: relative;
    height: auto;
}

.selector-btn {
    padding: 7px;
    background: whitesmoke;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector-list {
    position: absolute;
    z-index: 999;
    width: 100%;
    background: whitesmoke;
    border: solid 1px black;
}

.selector-item {
    padding: 10px;
    cursor: pointer;
}

/*
Make your own hover style here

.selector-item:hover {
    background: black;
    color: whitesmoke;
}*/

.selector-icon {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid black;
}
