.mbic-selector {
    position: relative;
    height: auto;
}

.mbic-selector-btn {
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
}

.mbic-selector-list {
    position: absolute;
    z-index: 999;
    width: 100%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.mbic-selector-item {
    padding: 10px;
    cursor: pointer;
}

.mbic-selector-item:hover {
    background: black;
    color: white;
}

.mbic-selector-icon {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
}
